// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.font-pink {
  color: #e83e8c;
}

.person-info {
  padding-right: 60px;
}

.text-theme-gradient {
  background: #FF4D7E;
  background: -webkit-linear-gradient(legacy-direction(to right), #FF4D7E 0%, #D73E6B 100%);
  background: linear-gradient(to right, #FF4D7E 0%, #D73E6B 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.owl-carousel .owl-item img {
  width: 50px;
}

.testimonial9 {
  border-top: 10px solid #f5f7fa;
}

@media (max-width: 575px) {
  .btn-danger-gradiant.pull-right {
    float: none !important;
  }

  .spacer {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .spacer.feature8 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  //
  .wrap-feature47-box {
    .ml-auto {
      padding-top: 20px;
    }
  }

  .spacer.c2a4 {
    padding-top: 50px;
    padding-bottom: 0;
  }
  //
  //.spacer.feature47 {
  //  padding-bottom: 30px;
  //}

}


