<!-- About  -->
<!-- ============================================================== -->
<div class="spacer feature2" id="about">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="title font-medium">Стань уверенным мастером и начни зарабатывать в 2 раза больше</h2>
        <h6 class="subtitle">
          Чтобы стать профессионалом высокого уровня, для начала нужно научиться основным базовым знаниям.
          Ты никогда не станешь великим математиком, если не выучишь таблицу умножения.
          Начальные знания это основа основ. Именно с них начинается твой рост от новичка до гуру 😎
        </h6>
      </div>
    </div>
    <!-- Row  -->
    <div class="row m-t-40">
      <!-- Column -->
      <div class="col-md-4 wrap-feature2-box">
        <div class="card card-shadow" data-aos="flip-left" data-aos-duration="1200">
          <img class="card-img-top" src="<%= image_path 'features/pin-up-girls.jpg' %>" alt="wrappixel kit" />
          <div class="card-body text-center">
            <h5 class="font-medium">Все продумано за вас</h5>
            <p class="m-t-20">
              13 видеоуроков по стрижкам и укладкам в личном кабинете.<br>
              12 пошаговых чек-листов с алгоритмами стрижек.
            </p>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-4 wrap-feature2-box">
        <div class="card card-shadow" data-aos="flip-up" data-aos-duration="1200">
          <img class="card-img-top" src="<%= image_path 'features/girl-with-laptop.jpg' %>" alt="wrappixel kit" />
          <div class="card-body text-center">
            <h5 class="font-medium">Это удобно</h5>
            <p class="m-t-20">
              Обучение дома в уютной обстановке и в удобное время.<br>
              Домашние задания выполняюте так же дома!
            </p>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-4 wrap-feature2-box">
        <div class="card card-shadow" data-aos="flip-right" data-aos-duration="1200">
          <img class="card-img-top" src="<%= image_path 'features/pretty-hairdresser-with-scissors.jpg' %>" alt="wrappixel kit" />
          <div class="card-body text-center">
            <h5 class="font-medium">Это надёжно</h5>
            <p class="m-t-20">
              Поддержка мастера на протяжении всего курса.
              Доступ ко всем материалам в личном кабинете навсегда!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End About  -->
<!-- ============================================================== -->