<!-- Comments -->
<!-- ============================================================== -->
<div class="testimonial9 spacer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6">
        <h2 class="m-t-40">Отзывы моих учеников</h2>
        <span class="devider bg-danger"></span>
        <p></p>
      </div>
      <div class="col-lg-6 col-md-6 ml-auto">
        <div class="owl-carousel owl-theme testi9">
          <!-- item -->
          <div class="item">
            <div class="card card-shadow">
              <div class="p-40">
                <h5 class="text">
                  Прошла курсы парикмахера. Мастер всё доступно объясняет. Большое спасибо Маргарите - каждую стрижку и каждый шаг расказывает подробно!
                </h5>
              </div>
            </div>
            <div class="d-flex no-block align-items-center">
              <div class="customer-thumb"><img src="<%= image_path 'clients/2.jpg' %>" alt="wrapkit" class="circle" /></div>
              <div class="">
                <h6 class="font-bold m-b-0">Светлана Уварова</h6><span class="font-13">Ученик</span></div>
            </div>
          </div>
          <!-- item -->
          <!-- item -->
          <div class="item">
            <div class="card card-shadow">
              <div class="p-40">
                <h5 class="text">Я тоже прошла курсы парикмахера, все хорошо поняла и она хорошая преподавательница. В общем хочу еще и на второй курс. Спасибо большое!</h5>
              </div>
            </div>
            <div class="d-flex no-block align-items-center">
              <div class="customer-thumb"><img src="<%= image_path 'clients/4.jpg' %>" alt="wrapkit" class="circle" /></div>
              <div class="">
                <h6 class="font-bold m-b-0">Собита Ходимова</h6><span class="font-13">Ученик</span></div>
            </div>
          </div>
          <!-- item -->
          <!-- item -->
          <div class="item">
            <div class="card card-shadow">
              <div class="p-40">
                <h5 class="text">
                  Присоединяюсь к вышеуказанным комментриям - мастер объясняла все очень хорошо, если было непонятно, Маргарита индивидуально объясняла и показывала. Честно говоря, не ожидала, что за такую невысокую стоимость (по сравнению с курсами в других центрах) обучение будет настолько качественным! Нам очень повезло с мастером! Маргарита, Спасибо Вам за полученные знания!!! 👏😊
                </h5>
              </div>
            </div>
            <div class="d-flex no-block align-items-center">
              <div class="customer-thumb"><img src="<%= image_path 'clients/3.jpg' %>" alt="wrapkit" class="circle" /></div>
              <div class="">
                <h6 class="font-bold m-b-0">Ольга Кудрявцева</h6><span class="font-13">Ученик</span></div>
            </div>
          </div>
          <!-- item -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Comments -->