<!-- ============================================================== -->
<!-- Courses  -->
<!-- ============================================================== -->
<div class="spacer feature8">

  <div class="container">
    <!-- Row -->
    <div class="row">
      <!-- Column -->
      <div class="col-lg-6">
        <h3>ОСНОВНОЙ КУРС</h3>
        <p>
          Курс проходит в онлайн-формате.
          Программа курса доступна всем желающим независимо от места жительства.
          Длительность обучения - 2 месяца.
        </p>
        <ul class="list-block m-b-30">
          <li><i class="fa fa-check-circle text-info"></i> 15 подробных видео-уроков (в записи)</li>
          <li><i class="fa fa-check-circle text-info"></i> 13 чек-листов на каждую стрижку</li>
          <li><i class="fa fa-check-circle text-info"></i> Обратная связь и поддержка на протяжении всего курса</li>
          <li><i class="fa fa-check-circle text-info"></i> Проверка домашних заданий, фото/видео отчеты, оценка по 5 бальной шкале</li>
          <li><i class="fa fa-check-circle text-info"></i> Сертификат в электронном виде по окончании курса</li>
        </ul>
        <p class="m-b-30">
          Индивидуальное обучение по данному курсу - 35 000 ₽<br>
          Обычная стоимость курса - <span class="font-weight-bold" style="text-decoration: line-through;">16 000 ₽</span><br>
          Сейчас действует предложение с 40% скидкой - <b class="font-weight-bold font-pink">10 000 ₽</b><br>
        </p>
        <a class="btn btn-danger-gradiant btn-rounded btn-md btn-arrow scroll-to" href="#request"><span>Записаться на курс <i class="ti-arrow-right"></i></span></a>
      </div>
      <!-- Column -->
      <div class="col-lg-6 d-none d-md-block">
        <div class="p-20">
          <img src="<%= image_path 'features/girl-hairdresser-3.jpg' %>" alt="wrapkit" class="img-responsive img-shadow" data-aos="flip-right" data-aos-duration="1200" />
        </div>
      </div>
      <!-- Column -->
    </div>
    <!-- Row -->
  </div>
</div>


<div class="bg-light spacer feature8">

  <!-- services  -->
  <!-- ============================================================== -->
  <div class="spacer feature24 d-none d-md-block" style="padding-top: 0">
    <div class="container">
      <!-- Row -->
      <div class="row client-box">
        <!-- column  -->
        <div class="col-lg-3 col-md-6">
          <div class="d-flex no-block">
            <div class="display-5"><i class="icon-Video text-danger"></i></div>
            <div class="m-l-20">
              <h1 class="font-light counter m-b-0" data-num="3">4</h1>
              <h6 class="text-muted font-13 text-uppercase">Подробных видео-урока</h6>
            </div>
          </div>
        </div>
        <!-- column  -->
        <!-- column  -->
        <div class="col-lg-3 col-md-6">
          <div class="d-flex no-block">
            <div class="display-5"><i class="icon-File-Chart text-danger"></i></div>
            <div class="m-l-20">
              <h1 class="font-light counter m-b-0" data-num="3">4</h1>
              <h6 class="text-muted font-13 text-uppercase">Чек-листа на каждую стрижку</h6>
            </div>
          </div>
        </div>
        <!-- column  -->
        <!-- column  -->
        <div class="col-lg-3 col-md-6">
          <div class="d-flex no-block">
            <div class="display-5"><i class="icon-Dollar-Sign text-danger"></i></div>
            <div class="m-l-20">
              <h1 class="font-light counter m-b-0" data-num="50">40</h1>
              <h6 class="text-muted font-13 text-uppercase">Процентов скидка только сейчас</h6>
            </div>
          </div>
        </div>
        <!-- column  -->
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- services   -->
  <!-- ============================================================== -->
  <div class="container">
    <!-- Row -->
    <div class="row">
      <!-- Column -->
      <div class="col-lg-6">
        <h3>КУРС КАРЕ 4 СТРИЖКИ</h3>
        <p>
          Курс проходит в онлайн-формате.
          Программа курса доступна всем желающим независимо от места жительства.
          Длительность обучения - 3 недели.
        </p>

        <p>
          Если Вы научились стричь каре, можете считать себя мастером!
          Каре - это основа основ. Это самая базовая, важная и точная стрижка.
        </p>

        <h3>Что входит в курс:</h3>

        <ul class="list-block m-b-30">
          <li><i class="fa fa-check-circle text-info"></i> Каре классическое</li>
          <li><i class="fa fa-check-circle text-info"></i> Каре на удлинение</li>
          <li><i class="fa fa-check-circle text-info"></i> Боб каре</li>
          <li><i class="fa fa-check-circle text-info"></i> Каре на ножке</li>
        </ul>
         
        <h3>Что дают вам стрижки каре как ученику:</h3>

        <ul class="list-block m-b-30">
          <li><i class="fa fa-check-circle text-info"></i> ставят руку</li>
          <li><i class="fa fa-check-circle text-info"></i> учат уверенно удерживать и протягивать прядь</li>
          <li><i class="fa fa-check-circle text-info"></i> дают понимание, где стоять во время стрижки, чтобы она получилась точной</li>
          <li><i class="fa fa-check-circle text-info"></i> дают понимание какая стрижка подойдет клиенту</li>
          <li><i class="fa fa-check-circle text-info"></i> развивают вас как мастера, учат практически всем основным приемам</li>
        </ul>

        <p class="m-b-30">
          <b class="font-weight-bold">Стоимость курса всего - 4900 руб!</b>
        </p>
        <a class="btn btn-danger-gradiant btn-rounded btn-md btn-arrow scroll-to" href="#request"><span>Записаться на курс <i class="ti-arrow-right"></i></span></a>
      </div>
      <!-- Column -->
      <div class="col-lg-6 d-none d-md-block">
        <div class="p-20">
          <img src="<%= image_path 'features/woman-with-glasses-working-barber-shop.jpg' %>" alt="wrapkit" class="img-responsive img-shadow" data-aos="flip-right" data-aos-duration="1200" />
        </div>
      </div>
      <!-- Column -->
    </div>
    <!-- Row -->
  </div>
</div>

<!-- ============================================================== -->
<!-- End Courses  -->
<!-- ============================================================== -->
