<!-- ============================================================== -->
<!-- Courses  -->
<!-- ============================================================== -->
<div class="spacer feature8">

  <div class="container">
    <!-- Row -->
    <div class="row">
      <!-- Column -->
      <div class="col-lg-6">
        <h3>ПРОГРАММА КУРСА</h3>
        <p>
          Курс проходит в онлайн-формате.
          Программа курса доступна всем желающим независимо от места жительства.
          Длительность обучения - 2 месяца.
        </p>
        <ul class="list-block m-b-30">
          <li><i class="fa fa-check-circle text-info"></i> 15 подробных видео-уроков (в записи)</li>
          <li><i class="fa fa-check-circle text-info"></i> 13 чек-листов на каждую стрижку</li>
          <li><i class="fa fa-check-circle text-info"></i> Обратная связь и поддержка на протяжении всего курса</li>
          <li><i class="fa fa-check-circle text-info"></i> Проверка домашних заданий, фото/видео отчеты, оценка по 5 бальной шкале</li>
          <li><i class="fa fa-check-circle text-info"></i> Сертификат в электронном виде по окончании курса</li>
        </ul>
        <p class="m-b-30">
          Индивидуальное обучение по данному курсу - 35 000 ₽<br>
          Обычная стоимость курса - <span class="font-weight-bold" style="text-decoration: line-through;">16 000 ₽</span><br>
          Сейчас действует предложение с 40% скидкой - <b class="font-weight-bold font-pink">10 000 ₽</b><br>
        </p>
        <a class="btn btn-danger-gradiant btn-rounded btn-md btn-arrow scroll-to" href="#request"><span>Записаться на курс <i class="ti-arrow-right"></i></span></a>
      </div>
      <!-- Column -->
      <div class="col-lg-6 d-none d-md-block">
        <div class="p-20">
          <img src="<%= image_path 'features/girl-hairdresser-3.jpg' %>" alt="wrapkit" class="img-responsive img-shadow" data-aos="flip-right" data-aos-duration="1200" />
        </div>
      </div>
      <!-- Column -->
    </div>
    <!-- Row -->
  </div>
</div>
<!-- ============================================================== -->
<!-- End Courses  -->
<!-- ============================================================== -->
