<!-- ============================================================== -->
<!-- Courses  -->
<!-- ============================================================== -->
<div class="spacer feature8">

  <div class="container">
    <!-- Row -->
    <div class="row">
      <!-- Column -->
      <div class="col-lg-6">
        <h3>КУРС-МАКСИ</h3>
        <p>
          Курс проходит в онлайн-формате.
          Программа курса доступна всем желающим независимо от места жительства.
          Длительность обучения - 2 месяца.
        </p>
        <ul class="list-block m-b-30">
          <li><i class="fa fa-check-circle text-info"></i> 8 вебинаров с мастеров в прямом эфире (встреча каждую неделю)</li>
          <li><i class="fa fa-check-circle text-info"></i> 13 подробных видео-уроков (в записи)</li>
          <li><i class="fa fa-check-circle text-info"></i> 12 чек-листов на каждую стрижку</li>
          <li><i class="fa fa-check-circle text-info"></i> Каждую неделю: онлайн-встреча с мастером, разбор домашнего задания, работа над ошибками, ответы на вопросы.</li>
          <li><i class="fa fa-check-circle text-info"></i> Обратная связь и поддержка на протяжении всего курса</li>
          <li><i class="fa fa-check-circle text-info"></i> Проверка домашних заданий, фото/видео отчеты, оценка по 5 бальной шкале</li>
          <li><i class="fa fa-check-circle text-info"></i> Сертификат в электронном виде по окончании курса</li>
        </ul>
        <p class="m-b-30">
          Индивидуальное обучение по данному курсу - 28000 ₽<br>
          Обычная стоимость курса - 16000 ₽<br>
          Сейчас действует предложение с 50% скидкой - <b class="font-weight-bold">8000 ₽</b><br>
          <b class="font-weight-bold">При оплате сегодня до 24.00 - 7500 ₽!</b>
        </p>
        <a class="btn btn-danger-gradiant btn-rounded btn-md btn-arrow scroll-to" href="#request"><span>Записаться на курс <i class="ti-arrow-right"></i></span></a>
      </div>
      <!-- Column -->
      <div class="col-lg-6 d-none d-md-block">
        <div class="p-20">
          <img src="<%= image_path 'features/girl-hairdresser-3.jpg' %>" alt="wrapkit" class="img-responsive img-shadow" data-aos="flip-right" data-aos-duration="1200" />
        </div>
      </div>
      <!-- Column -->
    </div>
    <!-- Row -->
  </div>
</div>

<div class="bg-light spacer feature8">

  <!-- services  -->
  <!-- ============================================================== -->
  <div class="spacer feature24 d-none d-md-block" style="padding-top: 0">
    <div class="container">
      <!-- Row -->
      <div class="row client-box">
        <!-- column  -->
        <div class="col-lg-3 col-md-6">
          <div class="d-flex no-block">
            <div class="display-5"><i class="icon-People-onCloud text-danger"></i></div>
            <div class="m-l-20">
              <h1 class="font-light counter m-b-0">3</h1>
              <h6 class="text-muted font-13 text-uppercase">Вебинара в прямом эфире</h6>
            </div>
          </div>
        </div>
        <!-- column  -->
        <!-- column  -->
        <div class="col-lg-3 col-md-6">
          <div class="d-flex no-block">
            <div class="display-5"><i class="icon-Video text-danger"></i></div>
            <div class="m-l-20">
              <h1 class="font-light counter m-b-0">3</h1>
              <h6 class="text-muted font-13 text-uppercase">Подробных видео-урока</h6>
            </div>
          </div>
        </div>
        <!-- column  -->
        <!-- column  -->
        <div class="col-lg-3 col-md-6">
          <div class="d-flex no-block">
            <div class="display-5"><i class="icon-File-Chart text-danger"></i></div>
            <div class="m-l-20">
              <h1 class="font-light counter m-b-0">3</h1>
              <h6 class="text-muted font-13 text-uppercase">Чек-листа на каждую стрижку</h6>
            </div>
          </div>
        </div>
        <!-- column  -->
        <!-- column  -->
        <div class="col-lg-3 col-md-6">
          <div class="d-flex no-block">
            <div class="display-5"><i class="icon-Dollar-Sign text-danger"></i></div>
            <div class="m-l-20">
              <h1 class="font-light counter m-b-0">50</h1>
              <h6 class="text-muted font-13 text-uppercase">Процентов скидка только сейчас</h6>
            </div>
          </div>
        </div>
        <!-- column  -->
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- services   -->
  <!-- ============================================================== -->
  <div class="container">
    <!-- Row -->
    <div class="row">
      <!-- Column -->
      <div class="col-lg-6">
        <h3>КУРС-МИНИ</h3>
        <p>
          Курс проходит в онлайн-формате.
          Программа курса доступна всем желающим независимо от места жительства.
          Длительность обучения - 3 недели.
        </p>
        <ul class="list-block m-b-30">
          <li><i class="fa fa-check-circle text-info"></i> 3 вебинара с мастером в прямом эфире (встреча раз в неделю)</li>
          <li><i class="fa fa-check-circle text-info"></i> 3 видео-урока в записи (3 стрижки)</li>
          <li><i class="fa fa-check-circle text-info"></i> 3 чек-листа по каждой стрижке</li>
          <li><i class="fa fa-check-circle text-info"></i> Проверка домашних заданий, фото/видео отчеты, оценка по 5 бальной шкале</li>
          <li><i class="fa fa-check-circle text-info"></i> Сертификат в электронном виде по окончании курса</li>
        </ul>
        <p class="m-b-30">
          <b class="font-weight-bold">Стоимость курса всего - 3000 руб!</b> <br>
          Если после мини-курса вы все-таки решитесь на полный курс,
          вы сможете доплатить и продолжить обучение.<br>
          Доплата 7000 рублей <br>
          (Полная цена мини-курса составит - 10000 руб)
        </p>
        <a class="btn btn-danger-gradiant btn-rounded btn-md btn-arrow scroll-to" href="#request"><span>Записаться на курс <i class="ti-arrow-right"></i></span></a>
      </div>
      <!-- Column -->
      <div class="col-lg-6 d-none d-md-block">
        <div class="p-20">
          <img src="<%= image_path 'features/woman-with-glasses-working-barber-shop.jpg' %>" alt="wrapkit" class="img-responsive img-shadow" data-aos="flip-right" data-aos-duration="1200" />
        </div>
      </div>
      <!-- Column -->
    </div>
    <!-- Row -->
  </div>
</div>
<!-- ============================================================== -->
<!-- End Courses  -->
<!-- ============================================================== -->
