<!-- Features  -->
<!-- ============================================================== -->
<div class="bg-light spacer feature5" id="feature">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="title font-medium">Будь уверен, этот курс даст тебе отличный старт в твоей карьере!</h2>
        <h6 class="subtitle">
          Этот курс основан на том, чтобы ученик сразу понимал алгоритм стрижки.
          И не совершал наиболее частых ошибок, которые делают 90% начинающих
          мастеров.
          Тебя не научат на других курсах тем фишкам, которые ты узнаешь здесь!
        </h6>
      </div>
    </div>
    <!-- Row  -->
    <div class="row m-t-40">
      <!-- Column -->
      <div class="col-md-4 wrap-feature5-box">
        <div class="card card-shadow" data-aos="fade-right" data-aos-duration="1200">
          <div class="card-body d-flex">
            <div class="icon-space"><i class="text-inverse icon-Idea"></i></div>
            <div class="">
              <h6 class="font-medium"><a href="javascript:void(0)" class="linking">Эффективная система</a></h6>
              <p class="m-t-20">Ты получишь уникальную систему обучения с четкими инструкциями. Простую, пошаговую, эффективную.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
      <!-- Column -->
      <div class="col-md-4 wrap-feature5-box">
        <div class="card card-shadow" data-aos="fade-down" data-aos-duration="1200">
          <div class="card-body d-flex">
            <div class="icon-space"><i class="text-inverse icon-Sunglasses-Smiley"></i></div>
            <div class="">
              <h6 class="font-medium"><a href="javascript:void(0)" class="linking">Реализация потенциала</a></h6>
              <p class="m-t-20">Поймешь как стать уверенным, дорогим и востребованным мастером. <br><br></p>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
      <!-- Column -->
      <div class="col-md-4 wrap-feature5-box">
        <div class="card card-shadow" data-aos="fade-left" data-aos-duration="1200">
          <div class="card-body d-flex">
            <div class="icon-space"><i class="text-inverse icon-Stopwatch"></i></div>
            <div class="">
              <h6 class="font-medium"><a href="javascript:void(0)" class="linking">100% продуктивности</a></h6>
              <p class="m-t-20">Научишься ценить свой труд и зарабатывать в 2 раза больше. <br><br><br></p>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
      <!-- Column -->
      <div class="col-md-4 wrap-feature5-box">
        <div class="card card-shadow" data-aos="fade-right" data-aos-duration="1200">
          <div class="card-body d-flex">
            <div class="icon-space"><i class="text-inverse icon-Business-Woman"></i></div>
            <div class="">
              <h6 class="font-medium"><a href="javascript:void(0)" class="linking">Твой выбор</a></h6>
              <p class="m-t-20">Сможешь работать на себя или так как тебе хочется!</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
      <!-- Column -->
      <div class="col-md-4 wrap-feature5-box">
        <div class="card card-shadow" data-aos="fade-up" data-aos-duration="1200">
          <div class="card-body d-flex">
            <div class="icon-space"><i class="text-inverse icon-Hair"></i></div>
            <div class="">
              <h6 class="font-medium"><a href="javascript:void(0)" class="linking">Красивые стрижки </a></h6>
              <p class="m-t-20">Поймешь свои ошибки и будешь стричь красиво и без промахов.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
      <!-- Column -->
      <div class="col-md-4 wrap-feature5-box">
        <div class="card card-shadow" data-aos="fade-left" data-aos-duration="1200">
          <div class="card-body d-flex">
            <div class="icon-space"><i class="text-inverse  icon-Open-Book"></i></div>
            <div class="">
              <h6 class="font-medium"><a href="javascript:void(0)" class="linking">Понятный алгоритм</a></h6>
              <p class="m-t-20">Получишь пошаговые инструкции по каждой стрижке.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-12 text-center m-t-30">
        <p>У тебя еще остались вопросы? Напиши мне и мы это обсудим! <a href="#request" class="linking font-bold scroll-to">Подать заявку<i class="ti-arrow-right"></i></a></p>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Features  -->
<!-- ============================================================== -->