<!-- ============================================================== -->
<!-- Formats  -->
<!-- ============================================================== -->
<div class="spacer feature24 d-none d-md-block" id="formats" style="padding-bottom: 0">
  <div class="container">
    <!-- Row -->
    <div class="row client-box">
      <!-- column  -->
      <div class="col-lg-3 col-md-6">
        <div class="d-flex no-block">
          <div class="display-5"><i class="icon-People-onCloud text-danger"></i></div>
          <div class="m-l-20">
            <h1 class="font-light counter m-b-0" data-num="8">8</h1>
            <h6 class="text-muted font-13 text-uppercase">Вебинаров в прямом эфире</h6>
          </div>
        </div>
      </div>
      <!-- column  -->
      <!-- column  -->
      <div class="col-lg-3 col-md-6">
        <div class="d-flex no-block">
          <div class="display-5"><i class="icon-Video text-danger"></i></div>
          <div class="m-l-20">
            <h1 class="font-light counter m-b-0" data-num="13">13</h1>
            <h6 class="text-muted font-13 text-uppercase">Подробных видео-уроков</h6>
          </div>
        </div>
      </div>
      <!-- column  -->
      <!-- column  -->
      <div class="col-lg-3 col-md-6">
        <div class="d-flex no-block">
          <div class="display-5"><i class="icon-File-Chart text-danger"></i></div>
          <div class="m-l-20">
            <h1 class="font-light counter m-b-0" data-num="12">12</h1>
            <h6 class="text-muted font-13 text-uppercase">Чек-листов на каждую стрижку</h6>
          </div>
        </div>
      </div>
      <!-- column  -->
      <!-- column  -->
      <!-- 
      <div class="col-lg-3 col-md-6">
        <div class="d-flex no-block">
          <div class="display-5"><i class="icon-Dollar-Sign text-danger"></i></div>
          <div class="m-l-20">
            <h1 class="font-light counter m-b-0" data-num="50">50</h1>
            <h6 class="text-muted font-13 text-uppercase">Процентов скидка только сейчас</h6>
          </div>
        </div>
      </div>
      -->
      <!-- column  -->
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Formats -->
<!-- ============================================================== -->