<!-- ============================================================== -->
<!-- Request  -->
<!-- ============================================================== -->
<div class="static-slider10" style="background-image:url(<%= image_path 'background.jpg' %>)" id="request">
  <div class="container">
    <!-- Row  -->
    <div class="row">
      <div class="col-lg-6 align-self-center " data-aos="fade-down" data-aos-duration="1500">
        <div class="">
          <h1 class="text-white font-medium">ВИДЕОКУРС «СТРИЖКИ И УКЛАДКИ»</h1>
          <h5 class="text-white m-t-20 hidden-md-down">
            Курс для начинающих мастеров и практикующих парикмахеров, которые хотят довести свое мастерство до совершенства!
            <br><br>
            15 видео-уроков + 13 пошаговых чек-листов с алгоритмом стрижек.
          </h5>
          <a href="#about" class="btn btn-outline-light btn-rounded m-t-30 m-b-30 font-weight-bold scroll-to">Узнать больше</a>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 text-center ml-auto">
        <div class="card" data-aos="flip-left" data-aos-duration="1200">
          <div class="card-body">
            <div class="text-box">
              <h1 class="title font-weight-bold mb-1"><span class="font-stylish">Оставить</span></h1>
              <h2 class="title font-light mt-2 mb-1">заявку на курс</h2>
              <div class="order-form">
                <%= render partial: 'home/partials/form' %>
              </div>
              <div class="registration-info subtitle text-left p-30 p-t-0 p-b-0">
                После подачи заявки, не забудьте зарегистрироваться,
                <%= link_to 'пройдя по этой ссылке', new_user_registration_path, class: 'font-pink' %>.
                Так вы сможете приступить к просмотру материалов курса сразу же, как мы ответим на вашу заявку.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Request  -->
<!-- ============================================================== -->