<!-- ============================================================== -->
<!-- Prize -->
<!-- ============================================================== -->
<div class="spacer c2a4 p-b-40">
  <div class="container">
    <div class="row p-b-30">
      <div class="col-lg-9 col-md-7">
        <h2 class="font-medium">В конце обучения будет разыгран приз для лучшего ученика!</h2>
        <h6 class="subtitle">Спешите записаться на курс пока действительна 50% скидка!</h6>
      </div>
      <div class="col-lg-3 col-md-5 align-self-center">
        <a class="btn btn-danger-gradiant btn-md btn-arrow m-b-20 pull-right scroll-to" href="#request"><span>Записаться на курс <i class="ti-arrow-right"></i></span></a>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Prize  -->
<!-- ============================================================== -->