<!-- ============================================================== -->
<!-- Slider -->
<!-- ============================================================== -->
<div class="testimonial8 d-none d-md-block">
  <div class="owl-carousel owl-theme testi8 text-center">
    <!-- item -->
    <div class="item">
      <div class="bg" style="background-image:url(<%= image_path 'features/feature-2-crop.jpg' %>)">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
              <h2 class="text-white font-light">Выбери формат курса в зависимости от своих предпочтений и количества свободного времени.</h2>
              <a href="#formats" class="btn btn-outline-light btn-rounded m-t-30 m-b-30 font-weight-bold scroll-to">Узнать какие есть форматы</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- item -->
    <div class="item">
      <div class="bg" style="background-image:url(<%= image_path 'features/feature-3-crop.jpg' %>)">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
              <h2 class="text-white font-light">Занимайся по специально составленной программе, которая поможет усвоить материал максимально легко и продуктивно.</h2>
              <a href="#programm" class="btn btn-outline-light btn-rounded m-t-30 m-b-30 font-weight-bold scroll-to">Ознакомится с программой</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- item -->
    <!-- item -->
    <div class="item">
      <div class="bg" style="background-image:url(<%= image_path 'features/feature-5-crop.jpg' %>)">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
              <h2 class="text-white font-light">В конце обучения будет разыгран приз для лучшего ученика! Успей записаться на курс сейчас и получи скидку 50%!</h2>
              <a href="#request" class="btn btn-outline-light btn-rounded m-t-30 m-b-30 font-weight-bold scroll-to">Записаться на курс</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- item -->
  </div>
</div>
<!-- ============================================================== -->
<!-- End Slider -->
<!-- ============================================================== -->