@import 'activeadmin_addons/all';
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

$skinActiveColor: #ee6574;
$skinHeaderBck: #661625;
$panelHeaderBck: #442240;
$skinLogo: url("logo_2.png") no-repeat 0 0;
@import "active_skin";
@import 'activeadmin/quill_editor_input';
@import 'activeadmin/quill_editor/quill.snow';
@import 'activeadmin/quill_editor_input';

.panel {
  h3 {
    margin-top: 0;
  }
}

#header h1.site_title {
  background-size: contain;
  background-position-x: center;
}


// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
