<!-- footer -->
<!-- ============================================================== -->
<div class="footer4 spacer b-t">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 m-b-30">
        <h5 class="m-b-20">Адрес</h5>
        <p>Россия, Москва</p>
      </div>
      <div class="col-lg-3 col-md-6 m-b-30">
        <h5 class="m-b-20">Телефон</h5>
        <p>Мобильный : +7 916 861-61-60</p>
      </div>
      <div class="col-lg-3 col-md-6 m-b-30">
        <h5 class="m-b-20">Email</h5>
        <p>Запись на курс : <br><a href="#" class="link">info@kurs-parikmaher.ru</a><br>
          <br/>Поддержка : <br><a href="#" class="link">support@kurs-parikmaher.ru</a></p>
      </div>
      <div class="col-lg-3 col-md-6">
        <h5 class="m-b-20">Я в соцсетях</h5>
        <div class="round-social light">
          <a href="https://vk.com/margarita76yreo" class="link" target="_blank"><i class="fa fa-vk"></i></a>
          <a href="https://wa.me/79168616160" class="link" target="_blank"><i class="fa fa-whatsapp"></i></a>
          <a href="https://www.youtube.com/channel/UCv-9ncojsCbN-6w-2QsfzvA" class="link" target="_blank"><i class="fa fa-youtube-play"></i></a>
          <a href="https://www.instagram.com/bazanovamargarita" class="link" target="_blank"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="f4-bottom-bar">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex font-14">
            <div class="m-t-10 m-b-10 copyright">® Все права защищены.</div>
            <div class="links ml-auto m-t-10 m-b-10">
              <a href="#" onclick="return false;" class="p-10 p-l-0">Прайс лист</a>
              <a href="#" onclick="return false;" class="p-10">Программа курса</a>
              <a href="#" onclick="return false;" class="p-10">Политика конфиденциальности</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->